register:
	errors:
		nick:
			required: Please enter nick.
			invalid: Nick can contain only alphanumerical characters and dash.
			duplicate: User with nick '%nick%' already exists.
		password:
			required: Please enter password.
		passwordCheck:
			required: Please enter password again to check for typing errors.
			notMatching: 'Please double-check your password for typing errors, passwords does not match.'
		email:
			required: Please enter email.
			invalid: Please enter valid email.
			duplicate: User with email '%email%' already exists.
	fields:
		nick: Nick
		password: Password
		passwordCheck: Password again
		email: Email
		submit: Register
login:
	errors:
		nick:
			required: Please enter nick or email.
			invalid: User with nick or email '%nick%' does not exist.
		password:
			required: Please enter password.
			invalid: Invalid password.
	fields:
		nick: Nick or email
		password: Password
		submit: Login
match:
	fields:
		game: Game
		tournament: Tournament
		opponent: Opponent
		result: Result
		submit: Filter
	labels:
		allGames: All games
		allTournaments: All tournaments
		allOpponents: All opponents
		allResults: All results
		wonGames: Won games
		lostGames: Lost games
		drawGames: Draw games
		withoutResultGames: Games without result

createUser:
	fields:
		create: Create
editUser:
	fields:
		edit: Edit
